* { 
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
}
 img{
 	max-width: 100%;
 }
 a{
  	text-decoration: none;
	}
 i{
 	font-size: 20px;
 }
 footer{
 	background-color: #353535;
  padding: 25px;
 }
 /*/////////Animation Chragement/////////*/
 .wrap-spin {
 	display: flex;
  justify-content: center;
  align-items: center;
 	width: 100vw;
 	height: 100vh;
 	animation: opaque 0s ease-in 3s forwards;
 	animation-fill-mode: both;
 }
 .spinner { 
  width: 200px;
  height: 200px;
  position: relative;
}
.spinner-component {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
  mix-blend-mode: hue;
}
.Primaire {
  border-top: 8px solid #9356DC;
  animation: load 3300ms linear;
  z-index: -1;
}
.Secondaire {
  border-top: 8px solid #FF79DA;
  animation: load 3600ms ease-out;
  z-index: -3;
}
.Tertiaire {
  border-top: 8px solid #99E2D0;
  animation: load 3900ms ease-in;
  z-index: -2;
}
@keyframes load {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opaque {
  to {
  	width: 0;
  	height: 0;
  }
}
 	/*///////header///////*/
 	.Logo{							
 		display: flex;
 		justify-content: center;
 		padding: 15px;
 	}
 	.Logo__dimension{
 		height: 40px;
 	}
 	/*/////////Intro/////////*/
 	.Localisation{
 		display: flex;
 		justify-content: center;
 		background-color: #eaeaea;
    font-weight: 700;
    box-shadow: inset 0px 2px 5px 0px #c4c3c0;
 	}
 	.Localisation__icon{
 		padding: 15px 22px;
 		margin: 0px 10px 0px -70px;
 	}
 	.Localisation__txt{
 		padding: 15px 0px 10px 0px;
	}
	/*/////////Service/////////*/
	.Service{
		padding: 40px 0px 55px 0px;
    	background-color: #f6f6f6;
    	text-align: center;
	}
	.Service__title{
    	margin-bottom: 20px;
    	font-weight: bolder;
    	font-size: 26px;
	}
	.Service__txt{
		margin-bottom: 30px;
		font-size: 22px;
	}
	.Service__exploration {
		display: block;
    width: max-content;
	  margin: auto;
	  background-image: linear-gradient(#FF79DA, #9356DC);
	  color: white;
	  border-radius: 30px;
	  box-shadow: 2px 2px 10px #c4c3c0;
	  padding: 15px 20px;
	  font-weight: bold;
	  transform: scale(1);
	  transition: transform 0.25s;
	  opacity: 1;
	}
	.Service__exploration:hover {
		transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 2px 5px 5px 0px black;
	}
	/*/////////Navigation/////////*/
	.Navigation{
		padding: 55px 20px 45px 20px;
	}
	.Navigation__title{
		margin-bottom: 30px;
		font-size: 24px;
	}
	.Navigation__list--elem{
		height: 75px;
	    display: flex;
	    align-items: center;
	    background-color: #f6f6f6;
	    box-shadow: 2px 2px 10px #c4c3c0;
	    border-radius: 15px 15px 15px 15px;
	    padding: 0 70px 0 30px;
	    margin-bottom: 20px;
	    margin-left: 10px;
	}
	.Navigation__list--elem:hover{
		background-color: #f2eafb;
	}
	.Navigation__list--elem:hover i{
		color: #9356DC;
	}
	.Navigation__num{
		height: 25px;
	    width: 25px;
	    border-radius: 50%;
	    background-color: #9356DC;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    left: -40px;
	    color: white;
	}
	.Navigation__icon{
		margin-right: 15px;
    	color: #7C7C7C;
    	font-size: 20px;
	}
	.color{
		color: white;
	}
	/*/////////Section/////////*/
	.Restaurant{
		padding: 50px 20px 45px 20px;
    background-color: #f6f6f6;
	}
	.Restaurant__title{
		font-size: 26px;
		margin-bottom: 30px;
	}
	.Restaurant__new {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		width: 80px;
		background-color: #99E2D0;
		color: #008766;
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.Imgs{
		position: relative;
	  height: 280px;
	  margin-bottom: 20px;
	  border-radius: 10px;
	  box-shadow: 2px 2px 10px #c4c3c0;
	}
	.Imgs__dimension{
		display: block;
	  height: 205px;
	  width: 100%;
	  border-radius: 10px 10px 0 0;
	  object-fit: cover;
	}
	.Imgs__title{
		font-size: 18px;
		font-weight: 700;
		color: black;
		padding: 10px;
	}
	.Imgs__txt{
		font-size: 16px;
		color: black;
		padding: 0px 10px;
	}
	.Imgs__icon {
		position: absolute;
		right: 40px;
		bottom: 25px;
	}
	.Icon-heart{
		font-size: 20px;
		color: grey;
	}
	.Icon-heart:hover {
	  animation: fill 1s ease-out;
	  background: linear-gradient(#9356DC, #FF79DA);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  font-weight: bold;
	}
	@keyframes fill{
	  0% {
	    opacity: 0;
	  }
	  100% {
	    opacity: 1;
	  }
	 }
	/*/////////Footer/////////*/
	.ft__title{
		font-size: 24px;
		font-size: 24px;
	    font-family: "Shrikhand", sans-serif;
	    color: white;
	    margin-bottom: 15px;
	}
	.ft__disp-fl{
		display: flex;
	}
	.ft__elem{
		margin-bottom: 10px;
	}
	.ft__mrgn{
		margin-right: 20px;
	}
	.ft__elem--icon{
		margin-right: 10px;
		color: white;
	}
	.ft__elem--txt{
		color: white;
	}
	/*/////////Responsive index/////////*/
@media screen and (min-width: 600px) {
	.Boite {
		width: 100%;
	  margin: auto;
	  }
	}
@media screen and (min-width: 900px) {
  .Navigation__list{
  	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
  }
  .Navigation__title{
  	font-size: 26px;
  }
  .Navigation__txt{
  	font-size: 20px;
  }
  .Restaurant__title {
  	display: flex;
  	justify-content: center;
  }
  .Boite {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .Imgs {
    width: 47%;
    margin: 20px 10px;
  }
  .Icon-heart{
		font-size: 20px;
		color: grey;
	} 
}
@media screen and (min-width: 1025px) {
  .Boite {
  	display: flex;
    width: 100%;
    margin: auto;
  }
  h2 {
    text-align: center;
  }

}@media screen and (min-width: 1720px) {
  .Icon-heart{
		font-size: 20px;
		color: grey;
	}
  h2 {
    text-align: center;
  }
   .Imgs {
  	margin: 18px;
  }
}
	/*////////////////Les menus//////////////*/
	/*///////header///////*/
	.Head-menu {
		padding: 30px 25px 10px 25px;
		align-items: center;
	}
	.Arrow-color {
		color: grey;
		display: flex;
		justify-content: flex-start;
	}
	.Menu-logo{
		display: flex;
		justify-content: center;
		margin-top: -30px;
	}
	/*///////imgs///////*/
	.Images__prcp {
	  max-height: 300px;
	  width: 100%;
	  object-fit: cover;
	}
	/*///////section///////*/
	.Boite-menu {
	  margin-top: -30px;
  	position: relative;
    border-radius: 30px 30px 0 0;
  	background-color: #f6f6f6;
  	padding: 35px 15px 80px 15px;
	}
	.Menu-titre {
	  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
	}
	.Titres__section {
	   font-family: "Shrikhand", sans-serif;
	   font-size: 30px;
	}
	.Heart-icon {
		color: grey;
	}
	.Heart-icon:hover {
	   animation: fill 1s ease-out;
	   background: linear-gradient(#9356DC, #FF79DA);
	   -webkit-background-clip: text;
	   -webkit-text-fill-color: transparent;
	   font-weight: bold;
	}
	.Elem__part {
		margin-bottom: 40px;
		width: 100%;
	}
	.Titres__elem {
	  font-size: 24px;
	}
	/*.Titres__elem::after {
		content: "";
		display: flex;
		align-items: center;
	  margin-top: 5px;
	  width: 40px;
	  height: 3px;
	  background-color: #99E2D0;
	}*/
	.Titres__line--elem {
		border-bottom: 5px solid #99E2D0;
		height: 5px;
		width: 60px;
		margin-bottom:20px;
	}
	.Menu{
	  height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    animation: appear 0.5s;
	  animation-timing-function: cubic-bezier(0.01, 0.50, 0.20, 0.80);
	  transform: scale(0);
	  animation-fill-mode: both;
	}
	@keyframes appear{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
	}
	.Delay1 {
  animation-delay: 0.3s;
	}
	.Delay2 {
	  animation-delay: 0.5s;
	}
	.Delay3 {
	  animation-delay: 0.7s;
	}
	.Delay4 {
	  animation-delay: 0.9s;
	}
	.Menu__txt{
		width: 80%;
		padding: 0px 0px 0px 15px
	}
	.Menu__txt p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.nom{
		font-size: 20px;
		font-weight: 500;
	}
  .nom__accpgmt{
    font-size: 16px;
  }
  .nom__accpgmt--prix{
  	justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
  }
  .Menu__prix {
  	display: flex;
    justify-content: flex-end;
    padding: 0px 15px 0px 0px;
  }
  .Menu__check{
    height: 70px;
		width: 0;
		background-color: #99E2D0;
		margin-left: 25px;
		margin-right: -70px;
		border-radius: 0 10px 10px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease-in-out;
  }
  .check_icons{
  	color: white;
    font-size: 20px;
    opacity: 0;
    transform: rotate(0deg);
    transition: all 0.7s ease-in-out;
  }
  .Menu:hover .Menu__txt{
  	width: 60%;
  }
  .Menu:hover .check_icons {
		opacity: 1;
    transform: rotate(360deg);
	}
	.Menu:hover .Menu__check{
		width: 80px;
  	margin-right: 0px;	
	}
	.button-command{
	  display: block;
    width: max-content;
	  margin: auto;
	  background-image: linear-gradient(#FF79DA, #9356DC);
	  border-radius: 30px;
	  box-shadow: 2px 2px 10px #c4c3c0;
	  padding: 15px 40px;
	  font-weight: bold;
	  transform: scale(1);
	  transition: transform 500ms;
	  opacity: 1;
	}
/*/////////Responsive Menus/////////*/
@media screen and (min-width: 900px) {
	.Boite-dimension {
		display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
	}
	.Titres__elem{
		text-align: center;
	}
	.Titres__line{
		display: flex;
		justify-content: center;
	}
	.Titres__line--elem1{
		justify-content: center;
		margin-right: 40px;
	}
	.Titres__line--elem2{
		justify-content: center;
		margin-right: 12px;
	}
	.Titres__line--elem3{
		justify-content: center;
		margin-right: 54px;
	}
	.Elem__part {
		margin-bottom: 40px;
		width: 80%;
	}
	.Menu{
	  height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
	}
  .Menu:hover .Menu__txt{
  	width: 60%;
  }
	.Menu__txt{
		width: 80%;
	}
}
@media screen and (min-width: 1350px) {
  .Boite-dimension {
  	display: flex;
  	justify-content: space-around;
  }
  .Menu {
		width: 100%;
		margin: 10px 0px;
	}
	.Elem__part {
		margin-bottom: 40px;
		width: 25%;
	}
	.Titres__elem {
	   font-size: 24px;
	}
}